body {
	margin: 0;
}

#container {
	heigth: 100vh;
	width: 100vw;
	margin-left: 10vw;
	display:block; margin-right: auto; margin-top: 20px
}

video {
	border: 5px solid black;
	border-radius: 5%;
}
.div-wrapper {
	position: relative;
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.div-wrapper img {
	position: absolute;
	left: 0;
	bottom: 0;

}

#tabs {
	width: 100%;
	height: 100%;
}

.predictions {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px
}

.prediction {
	font-size: 30pt;
}

.score {
	text-align: left;
}

.decision {
	text-align: left;
}
