<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="styles.css" rel="stylesheet"/>
    <link href="jquery-ui.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="jquery-ui.min.js"></script>
    <script type="text/javascript" src="/avisi/opencv.js"></script>
    <script type="text/javascript" src="/avisi/utils.js"></script>
</head>
<body>
<div id="container" >
    <div id="errorContainer"/>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">File upload</a></li>
            <li><a href="#tabs-2">Camera</a></li>
        </ul>
        <div id="tabs-1">
                <table>
                    <tr>
                        <td>File to upload:</td>
                        <td><input id="file" type="file" name="file"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input id="upload" type="submit" value="Upload"/></td>
                        <td>
                            <canvas id="fileCanvas" width="320" height="240"></canvas>
                        </td>
                    </tr>
                </table>
            <div id="filePredictions" class="predictions" th:fragment="filePredictions">
                <table style="text-align: center;margin-top: 20px;margin-left: auto; margin-right: auto;">
                    <thead>
                    <tr class="prediction">
                        <th class="score">Score</th>
                        <th class="decision">Decision</th>
                        <th class="decision"/>
                    </tr>
                    </thead>
                    <tr class="prediction" th:if="${predictions != null}" th:each="p : ${predictions}">
                        <td height="80px" class="score">
                            <p th:text="${p.score}" style="color:black"></p>
                        </td>
                        <td height="80px" class="decision">
                            <p th:if="${p.score &gt; 0.5}" th:text="${p.category + ' detected'}" style="color:black"></p>

                        </td>
                        <td height="80">
                            <img th:if="${p.score &gt; 0.8}" src="alarm.gif"
                                 style="max-height: 80px"/>
                        </td>

                    </tr>


                </table>

            </div>
        </div>
        <div id="tabs-2">
            <table style="margin: 0 auto;">
                <tr>
                    <th style="color:white">Camera feed:</th>
                    <th style="color:white">Testing image:</th>
                </tr>
                <tr>
                    <td>
                        <video id="video" width="320" height="240" autoplay="true"></video>
                    </td>
                    <td>
                        <canvas id="canvas" width="320" height="240"></canvas>
                    </td>
                </tr>
            </table>
            <div id="cameraPredictions"  class="predictions"  th:fragment="cameraPredictions">
                <table style="text-align: center;margin-top: 20px;margin-left: auto; margin-right: auto;">
                    <tr class="prediction" th:if="${predictions != null}" th:each="p : ${predictions}">
                        <td height="80px">
                            <p th:text="${p.score}" style="color:black"></p>
                        </td>
                        <td height="80px">
                            <p th:if="${p.score &gt; 0.5}" th:text="${p.category + ' detected'}" style="color:black"></p>

                        </td>
                        <td height="80">
                            <img th:if="${p.score &gt; 0.8}" src="alarm.gif"
                                 style="max-height: 80px"/>
                        </td>
                    </tr>


                </table>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript" th:src="@{/avisi/webcam.js}"/>
<script type="text/javascript" >
    var handle;
  $('#tabs' ).tabs({
    activate: function( event, ui ) {
      console.log(ui);
      console.log(ui.newTab.index());
      if (ui.newTab.index() == 0) {
        shutdownCamera();
        clearTimeout(handle);
        handle = null;
      }
      if (ui.newTab.index() == 1) {
        getAccessToTheCamera();
        handle = setTimeout(processVideo, 200);
      }
    },

  });
  $('#upload').on('click', function(){
    var data = new FormData();
    data.append('image', $('#file').prop('files')[0]);
      let imgUrl = URL.createObjectURL($('#file').prop('files')[0]);
      let utils = new Utils('errorContainer');
      utils.loadImageToCanvas(imgUrl, 'fileCanvas');


    $.ajax({
      type: 'POST',
      processData: false, // important
      contentType: false, // important
      data: data,
      url: '/upload/file',
      dataType : 'text',
      success: function(predictions){
        $('#filePredictions').html(predictions);
      }
    });
  });

</script>
</body>
</html>
